* {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: white;
  }
  
  .image-header > img {
    background-size: cover;
    width: 100%;
  }
  
  .title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #38a3a5;
    font-size: 4.2rem;
    font-family: "Raleway", sans-serif;
    margin-top: 4.2rem;
    margin-bottom: 2.4rem;
    font-weight: 300;
    font-style: italic;
  }
  
  .choose {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  button {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background-color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    font-weight: 400;
  }
  
  button:hover {
    color: #38a3a5;
  }
  .essence {
    color: #b2b1b9;
    padding: 0.6rem 3.2rem;
  }
  
  .click-choose {
    border-top: #38a3a5 0.1rem solid;
    border-bottom: #38a3a5 0.1rem solid;
    color: #38a3a5 !important;
  }
  
  .types {
    color: #b2b1b9;
    padding: 0.6rem 3.2rem;
  }
  
  .content {
    border: #38a3a5 0.2rem solid;
    /* background-color: #e3f6f5; */
    border-radius: 4rem;
    margin: 2rem 10rem;
    padding: 3.6rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3.6rem;
    column-gap: 1.8rem;
    justify-items: center;
    align-items: center;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  }
  
  .content div {
    line-height: 1.5;
    font-size: 1.1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content img {
    width: 100%;
  }
  
  .in-short,
  .more {
    margin-top: 0.5rem;
    text-transform: none;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    border: #38a3a5 0.1rem solid;
    border-radius: 0.5rem;
  }
  
  .img {
    border-radius: 1rem;
    overflow: hidden;
  }
  
  h4 {
    align-self: flex-start;
  }
  
  footer {
    background-color: #b8e4f0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 2.4rem 4.8rem;
    display: flex;
    gap: 2.4rem;
    justify-content: space-around;
    align-items: center;
    border-top: black 0.2rem solid;
  }
  
  a {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    color: #716f81;
    line-height: 1.4;
  }
  
  a:hover {
    color: #35858b;
  }
  
  .hidden {
    display: none;
  }
nav a
{
  color: black;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
nav a.active
{
  color: #56ad6c !important;
}
nav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}
nav div.header-title
{
    border-bottom: .2rem solid rgb(241, 241, 241);
    height: 5rem;
}
nav div.navbar
{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-weight: bold;
    box-shadow: 0rem .2rem .2rem .0rem rgba(0, 0, 0, .1);
}
nav div.navbar a
{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-weight: bold;
}
nav div.header-title
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div.header-title div
{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div.header-title div div
{
    width: 20%;
}
nav div.header-title div div img
{
    margin: auto;
}
nav div.header-title div .left-title
{
    width: 30%;
}
nav div.header-title div .left-title img
{
    margin-left: 0;
    margin-right: 0;
}
nav div.header-title div .right-title
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 37%;
    gap: .4rem;
}
nav div.header-title div .right-title div .login-btn
{
    font-weight: bold;
    font-size: 14px;
}
nav div.header-title div .right-title div .vn-button, nav div.header-title div .right-title div .en-button
{
    margin-top: .2rem;
    font-size: 14px;
    border: none;
    font-weight: bold;
    background-color: white;   
    cursor: pointer;
}
nav div.header-title div .right-title div .en-button:hover
{
    color: rgb(79, 177, 79);
}
nav div.header-title div .right-title div .vn-button
{
    color: rgb(30, 143, 30);
}
nav div.header-title div .right-title div .shopping-car
{
    margin-top: .2rem;
    display: inline-block;
    border-radius: .3rem;
    border: .1rem solid lightgray;
    padding: .3rem;
}
.footer
{
  font-size: 18px;
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
}