*
{
    box-sizing: border-box;
}
hmtl, body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    -moz-font-display: optional;
    -ms-font-display: optional;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
}
a
{
    color: black;
    text-decoration: none;
}
button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
::-webkit-scrollbar{width: .5vw;}
::-webkit-scrollbar:hover{width: .5vw;}
::-webkit-scrollbar-track{background-color: white; border-radius: .2rem;}
::-webkit-scrollbar-thumb{background-color:#26625f; border-radius: .2rem;}
::-webkit-scrollbar-thumb:hover{background-color:#1f6577; border-radius: .2rem;}
::-webkit-scrollbar-thumb:active{background-color:#3f9797; border-radius: .2rem;}

/* MAIN */
article.main-content
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10%;
    padding-top: 7%;
    gap: 8rem;
}
article.main-content > section.slide
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}
article.main-content > section.slide > span.image
{
    flex-basis: 35%;
    text-align: center;
}
article.main-content > section.slide > span.image > img
{
    width: 100%;
    height: 100%;
}
article.main-content > section.slide > span.content
{
    flex-basis: 30%;
    text-align: justify;
}
article.main-content > section.slide > span.content > h1
{
    font-size: 24px;
    font-weight: 400;
    color: rgb(36, 114, 25);
    margin-top: 0;
}
article.main-content > section.slide > span.content > a.more
{
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    color: rgb(4, 50, 78);
    border: 0.1rem solid rgb(78, 108, 163);
    -webkit-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}
article.main-content > section.slide > span.content > a.more:hover
{
    background-color: rgb(59, 109, 139);
    color: white;
}